{% extends "teacher/layout.html" %}
{% block main %}

<div class="container" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); margin-top: 10px; ">
<form method="POST" action="" class="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
<a href="/teacher" class="btn btn-success"><-</a>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Ugry">{{ form.major.label }}</label>
      {{form.major(class="form-control")}}
    </div>
    <div class="form-group col-md-6">
      <label for="Ders">{{ form.subject.label }}</label>
      {{form.subject(class="form-control")}}
    </div>
    <div class="form-group col-md-6">
      <label for="inputTema">{{ form.lesson_name.label }}</label>
      {{ form.lesson_name(class="form-control",placeholder="Temanyň adyny giriziň")}}
    </div>
    <div class="form-group col-md-6">
      {% if lesson.attachment %}
        <label>Ýüklenen faýl: {{ lesson.attachment }} | </label>
      {% endif %}
      <label>{{ form.attachment.label }}</label>
      {{ form.attachment(class="custom-file-input") }}
      <label class="custom-file-label" for="customFile" style="margin-top: 40px;">Fayl saylaň</label>
    </div>
    <div class="form-group col-md-12">
      <label for="inputTema">{{ form.lesson_description.label }}</label>
      {{ form.lesson_description(class="form-control",placeholder="Temanyň beýany")}}
    </div>
    <div class="form-group col-md-12" align="center">
      {{ form.submit(class="btn btn-light", style="align-items: center; justify-content: center;") }}
    </div>
    <div class="form-group col-md-12" align="center">
      <h4>Goşulan faýllar:</h4>
    </div>
    <div class="form-group col-md-12" align="center">
      {% for attachment in lesson.attachments %}
        <label>{{ attachment.filename }}</label>
        <a href="/static/attachments/{{ attachment.attachment }}" class="btn btn-light">Gör</a>
        <a href="/lessons/attach/{{ lesson.id }}/delete/{{ attachment.id }}" class="btn btn-danger">Poz</a>
      {% endfor %}
    </div>
    <div class="form-group col-md-12" align="center">
      <a href="/lessons/attach/{{lesson.id}}" class="btn btn-primary">Faýl goş</a>
    </div>
  </div>
  </div>  
</form>
</div>

{% endblock %}