{% extends "teacher/layout.html" %}
{% block main %}

<div class="container" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); margin-top: 10px; ">
<form method="POST" action="" class="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Ugry">{{ form.major.label }}</label>
      {{form.major(class="form-control")}}
    </div>
    <div class="form-group col-md-6">
      <label for="Ders">{{ form.subject.label }}</label>
      {{form.subject(class="form-control")}}
    </div>
    <div class="form-group col-md-6">
      <label for="inputTema">{{ form.hometask_name.label }}</label>
      {{ form.hometask_name(class="form-control",placeholder="Ýumuşyň adyny giriziň")}}
    </div>
    <div class="form-group col-md-6">
      <label>{{ form.attachment.label }}</label>
      {{ form.attachment(class="custom-file-input") }}
      <label class="custom-file-label" for="customFile" style="margin-top: 40px;">Fayl saylaň</label>    
    </div>
    <div class="form-group col-md-12">
      <label for="inputTema">{{ form.hometask_description.label }}</label>
      {{ form.hometask_description(class="form-control",placeholder="Beýany")}}
    </div>
    <div class="form-group col-md-12" align="center">
      {{ form.submit(class="btn btn-light", style="align-items: center; justify-content: center;") }}
    </div>
  </div>
  </div>  
</form>
</div>

<div class="container-fluid" style="padding-left: 0px;padding-right: 0px; margin-top: 10px; ">
  <table class="table table-hover">
  <thead style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); text-align: center;">
    <tr style="text-align: center;">
      <th scope="col" style="text-align:center;">t/b</th>
      
      <th scope="col" style="text-align:center;">Dersiň ady</th>
      <th scope="col" style="text-align:center;">Ýumuşyň ady</th>
      <th scope="col" style="text-align:center;">Ýumuşyň beýany</th>
      <th scope="col" style="text-align:center;">Ugry</th>
      <th colspan="2" style="text-align:center;">Amallar</th>      
    </tr>
  </thead>
  <tbody style="text-align: center;">
    {% for hometask in hometasks %}
      <tr>
        <th scope="row">{{hometask.id}}</th>
        
        <td>
          {% for subject in subjects %}
            {{ subject.subject_name if subject.id==hometask.subjectId }}
          {% endfor %}
        </td>
        <td>{{hometask.hometask_name}}</td>
        <td>{{ '' if hometask.hometask_description == None else hometask.hometask_description }}</td>
        <td>
          {% for major in majors %}
            {{ major.major_name if major.id==hometask.majorId }}
          {% endfor %}
        </td>
        <td>
          <a href="/hometasks/delete/{{hometask.id}}" class="btn btn-danger">Pozmak</a>
          <a href="/hometasks/{{hometask.id}}/solutions" class="btn btn-info">Jogaplar</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}