<!DOCTYPE html>
<html>
<head>
   <title>Sapaklar</title>   
  <link rel="stylesheet" type="text/css" href="/static/student/bootstrap-4/css/bootstrap.min.css">

</head>
<body>
<img src="/static/student/img/img-01.png" style="align-items: center; width: 90px; height: 80px; justify-content: center;"><label><strong>Oguz Han adynadky Inzenener we Tehnologiyalar Universiteti</strong></label>
<nav class="navbar navbar-light bg-light" style="float: right;">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Gozle.." aria-label="Search">
    <button class="btn btn-light my-2 my-sm-0" type="submit" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) "><img src="/static/student/img/search.svg"></button>
  </form>
</nav>
      <h4 style="margin: 15px 0;margin-top: 0 ; color: #333;  text-transform: uppercase; text-align: center;">Hos geldiniz!</h4>

<div class="container" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) ">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Mugallym">Mugallym:</label>
    <select class="form-control" id="Mugallym">
      <option>Dovlet Saryyev</option>
      <option>Annamyrat Gylyjov</option>
      <option>Mergen Atayev</option>
      <option>Aylar Akmyradova</option>
      <option>Ahal Akgayev</option>
    </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Ugry">Ugry:</label>
    <select class="form-control" id="ugry">
      <option>Maglumat Ulgamlary we Tehnologiyalary</option>
      <option>Informatika we hasaplayys tehnikasy</option>
      <option>Innowatika</option>
      <option>Biotehnologiya</option>
      <option>Awtomatlastyrmak we dolandyrmak</option>
    </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Ders">Dersiň ady:</label>
    <select class="form-control" id="ders">
      <option>Computer Programming</option>
      <option>Web programming Practice</option>
      <option>Computer Network</option>
      <option>Political Science</option>
      <option>Mobile device Programming</option>
    </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputTema">Temanyň ady:</label>
      <input type="text" class="form-control" id="inputTema" placeholder="Temanyň adyny giriziň">
    </div>
   
   <div class="form-group col-md-12" align="center">
   <button type="button" class="btn btn-light">OK</button>   
   </div>   
  </div>
  </div>
  </div>  
</form>


   <div align="center" style="padding-top: 30px; padding-bottom: 30px;">
  <label >Dersiň ady:</label>
    <select>
      <option>Computer Programming</option>
      <option>Web programming Practice</option>
      <option>Computer Network</option>
      <option>Political Science</option>
      <option>Mobile device Programming</option>
    </select>
</div>




<div class="container-fluid">
  <table class="table table-hover">
  <thead style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); text-align: center;">
    <tr>
      <th scope="col">t/b</th>
      <th scope="col">Fayl</th>
      <th scope="col">Dersin ady</th>
      <th scope="col">Teman ady</th>
      <th scope="col">Ugry</th>
      <th colspan="2">Amallar</th>
      
      
    </tr>
  </thead>
  <tbody style="text-align: center;"">
    <tr>
      <th scope="row">1</th>
      <td>network.pdf</td>
      <td>Computer Network</td>
      <td>Firewall</td>
      <td>Maglumat ulgamlary we tehnologiyalary</td>
      <td>Edit</td>   
    <td>Delete</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>File Name</td>
      <td>Theme</td>
      <td>Teman Ady</td>
      <td>Maglumat ulgamlary we tehnologiyalary</td>
      <td>Edit</td>
    <td>Delete</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>@twitter</td>
      <td>info</td>
      <td>Innovatika</td>
      <td>Edit</td>
    <td>Delete</td>
    </tr>
  </tbody>
</table>
</div>

<script type="text/javascript" src="/static/student/bootstrap.min.js"></script>
</body>
</html>