.card{
    cursor: pointer;
    width : 340px;
    height: 480px;

}

.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
       
}

.front img{
    height: 100%
}
.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
    padding: 10px;
}

.back-content{
    color : #2c3e50;
    text-align: center;
    width: 100%;
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.sm a{
    color: #007bff;
    text-transform: uppercase;
    font-family: Montserrat-Regular, sans-serif;
}

.sm a:hover{
    color: #0052ab;
    text-decoration: none;
}