<!DOCTYPE html>
<html>
<head>
  <title>Akkaunt saýlamak</title>
  <link rel="stylesheet" type="text/css" href="/static/login/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link href="/static/login/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <img class="wave" src="/static/login/img/waveleft.png">
  <div class="bash">
  <div style="text-align: center; color: black; padding: 10px; font-family: 'Poppins', sans-serif;">
     <img src="/static/login/img/img-01.png" style="align-items: center; width: 100px; height: 100px;">
      <h1>Hoş geldiňiz!</h1>
        <!-- <img src="/static/login/img/img-01.png" id="logo"> -->
        <h2>Ulanyjy gornüşini saýlan</h2>
    </div>
<div class="image123" >
    <div id="teach" style="float:left;margin-right:5px; padding-left: 25%;">
      <a href="/login/teacher">
        <img src="/static/login/img/teacher.png" height="200" width="235">
        <p style="text-align:center;font-size: 30">Mugallym</p>
      </a>  
    </div>
    <div style="float:left;margin-right:5px;">
      <a href="/login/student">
        <img  src="/static/login/img/studen_sign.png" height="200" width="230" />
        <p style="text-align:center;font-size: 30">Talyp</p>
      </a>
    </div>
    <div style="float:left;margin-right:5px;">
      <a href="/login/admin">
        <img src="/static/login/img/administrator.png" height="200" width="235" />
        <p style="text-align:center; font-size: 30">Administrator</p>
      </a>  
    </div>
</div>
<button type="button" class="btn_log"  onclick="window.location.href='/'">
   Esasy sahypa
</button> 
</div>
 
</body>
</html> 
