<!DOCTYPE html>
<html>
<head>
	<title>Sapak ýüklemek</title>
	<link rel="stylesheet" type="text/css" href="/static/teacher/bootstrap-4/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/static/login/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/static/admin/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/admin/js/bootstrap.min.js"></script>
<link href="/static/teacher/css/nav.css" rel="stylesheet" type="text/css">
</head> 
<body>
<nav class="navbar navbar-inverse navbar-expand-xl navbar-dark">
  <div class="navbar-header d-flex col">
    <img src="/static/teacher/img/img-01.png"  ><label><strong>Oguz Han adyndaky Inžener we Tehnologiýalar Uniwersitety</strong></label>
   <!--  <a class="navbar-brand" href="#"><i class="fa fa-cube"></i>Brand<b>Name</b></a>  -->    
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
      <span class="navbar-toggler-icon"></span>     
    </button>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">    
    
    <ul class="nav navbar-nav navbar-right ml-auto">      
      <li class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="/static/teacher/img/ow.png" class="avatar" alt="Avatar">{{current_user.full_name}}</a>
        <ul class="dropdown-menu">
          <li><a href="/teacher" class="dropdown-item">Sapaklar</a></li>
          <li class="divider dropdown-divider"></li>
          <li><a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Ulgamdan çyk</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

      <h4 style="margin: 15px 0;margin-top: 10px ;	color: #333;	text-transform: uppercase; text-align: center;">Hoş geldiňiz!</h4>

<div class="container" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); margin-top: 10px; ">
<form method="POST" action="" class="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Ugry">{{ form.major.label }}</label>
      {{form.major(class="form-control")}}
    </div>
    <div class="form-group col-md-6">
      <label for="Ders">{{ form.subject.label }}</label>
      {{form.subject(class="form-control")}}
    </div>
    <div class="form-group col-md-6">
      <label for="inputTema">{{ form.lesson_name.label }}</label>
      {{ form.lesson_name(class="form-control",placeholder="Temanyň adyny giriziň")}}
    </div>
  <div class="form-group col-md-6">
  <label>{{ form.attachment.label }}</label>
  {{ form.attachment(class="custom-file-input") }}
  <label class="custom-file-label" for="customFile" style="margin-top: 40px;">Fayl saylaň</label>
    
   </div>
   <div class="form-group col-md-12" align="center">
    {{ form.submit(class="btn btn-light", style="align-items: center; justify-content: center;") }}
 
   </div>
  </div>
  </div>  
</form>
</div>

<div class="container-fluid" style="padding-left: 0px;padding-right: 0px; margin-top: 10px; ">
  <table class="table table-hover">
  <thead style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); text-align: center;">
    <tr style="text-align: center;">
      <th scope="col" style="text-align:  center;">t/b</th>
      
      <th scope="col" style="text-align:  center;">Dersin ady</th>
      <th scope="col" style="text-align:  center;">Teman ady</th>
      <th scope="col" style="text-align:  center;">Ugry</th>
      <th colspan="2" style="text-align:  center;">Amallar</th>      
    </tr>
  </thead>
  <tbody style="text-align: center;">
    {% for lesson in lessons %}
      <tr>
        <th scope="row">{{lesson.id}}</th>
        
        <td>
          {% for subject in subjects %}
            {{ subject.subject_name if subject.id==lesson.subjectId }}
          {% endfor %}
        </td>
        <td>{{lesson.lesson_name}}</td>
        <td>
          {% for major in majors %}
            {{ major.major_name if major.id==lesson.majorId }}
          {% endfor %}
        </td>
        <td><a href="/lessons/edit/{{lesson.id}}">Üýtget</a></td>   
        <td><a href="/lessons/delete/{{lesson.id}}">Pozmak</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<script type="text/javascript" src="/static/teacher/bootstrap-4/js/bootstrap.min.js"></script>
</body>
</html>
