<!DOCTYPE html>
<html>
<head>
	 <title>Sapak yuklemek</title>
	 
	<link rel="stylesheet" type="text/css" href="/static/teacher/bootstrap-4/css/bootstrap.min.css">
</head>
<body>
<img src="/static/teacher/img/img-01.png" style="align-items: center; width: 90px; height: 80px; justify-content: center;"><label><strong>Oguz Han adynadky Inzenener we Tehnologiyalar Universiteti</strong></label>
      <h4 style="margin: 15px 0;margin-top: 0 ;	color: #333;	text-transform: uppercase; text-align: center;">Hos geldiniz!</h4>
<div class="container" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) ">
<form method="POST" action="" class="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Ugry">{{ form.major.label }}</label>
      {{ form.major(class="form-control",placeholder="Temanyň adyny giriziň")}}
    </div>
    <div class="form-group col-md-6">
      <label for="Ders">{{ form.subject.label }}</label>
      {{ form.subject(class="form-control",placeholder="Temanyň adyny giriziň")}}
    </div>
    <div class="form-group col-md-6">
      <label for="inputTema">{{ form.lesson_theme.label }}</label>
      {{ form.lesson_theme(class="form-control",placeholder="Temanyň adyny giriziň")}}
    </div>

   <div class="form-group col-md-6">
  <label>{{ form.attachment.label }}</label>
  {{ form.attachment(class="custom-file-input") }}
  <label class="custom-file-label" for="customFile" style="margin-top: 32px;">Fayl saylaň</label>
   	
   </div>
   <div class="form-group col-md-12" align="center">
    {{ form.submit(class="btn btn-light", style="align-items: center; justify-content: center;") }}
 <!--   <button type="button" class="btn btn-light" style="align-items: center; justify-content: center;">Yukle</button>    -->
   </div>
  </div>
  </div>  
</form>
</div>
<div align="center" style="padding-top: 30px; padding-bottom: 30px;">
	<label >Dersiň ady:</label>
    <select>
      <option>Computer Programming</option>
      <option>Web programming Practice</option>
      <option>Computer Network</option>
      <option>Political Science</option>
      <option>Mobile device Programming</option>
    </select>
</div>
<div class="container-fluid">
	<table class="table table-hover">
  <thead style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); text-align: center;">
    <tr>
      <th scope="col">t/b</th>
      <th scope="col">Fayl</th>
      <th scope="col">Dersin ady</th>
      <th scope="col">Teman ady</th>
      <th scope="col">Ugry</th>
      <th colspan="2">Amallar</th>
      
      
    </tr>
  </thead>
  <tbody>
    {% for lesson in lessons %}
      <tr>
        <th scope="row">{{lesson.id}}</th>
        <td><a href="/static/attachments/{{lesson.attachment}}">{{lesson.attachment}}</a></td>
        <td>{{lesson.subject}}</td>
        <td>{{lesson.lesson_theme}}</td>
        <td>{{lesson.major}}</td>
        <td>Edit</td>	  
  	    <td>Delete</td>
      </tr>
    {% endfor %}
    <tr>
      <th scope="row">2</th>
      <td>File Name</td>
      <td>Theme</td>
      <td>Teman Ady</td>
      <td>Maglumat ulgamlary we tehnologiyalary</td>
      <td>Edit</td>
	  <td>Delete</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>Innovatika</td>
      <td>Edit</td>
	  <td>Delete</td>
    </tr>
  </tbody>
</table>
</div>

<script type="text/javascript" src="/static/teacher/bootstrap.min.js"></script>
</body>
</html>