{% extends "admin/layout.html" %}
{% block main %}

<div class="container-fluid" style="margin-top: 3px;">
        <div class="table-wrapper" style="margin: 0px; width: 100%;">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Hasaba duran <b>Talyplar</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);"><i class="fa fa-plus"></i>Täze goş</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Doly ady</th>
                        <th>Talyp belgi</th>
                        <th>Gizlin belgi</th>
                        <th>Amallar</th>
                    </tr>
                </thead>
                <tbody>
                  {% for student in students %}
                    <tr>
                        <td>{{student.full_name}}</td>
                        <td>{{student.student_id}}</td>
                        <td>{{student.password}}</td>
                        <td>
                          <a class="add" title="Add" data-toggle="tooltip"><i class="fa fa-user-plus" style="width: 20px; height: 20px;"></i></a>
                          <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-user-edit"></i></a>
                          <a href="/admin/students_list/delete/{{student.id}}" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-alt"></i></a>
                        </td>
                    </tr>
                  {% endfor %}
                    
                    <tr id="addingNewUserForThisApp" style="display: none;"><form method="POST" action="/admin/students_list">
                      <td><input type="text" class="form-control" name="full_name" id="name"></td>
                      <td><input type="text" class="form-control" name="student_id" id="student_id"></td>
                      <td><input type="text" class="form-control" name="password" id="phone"></td>
                      <td>
                        <input type="submit" name="submit">
                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit" style="display: none;"><i class="fa fa-user-edit"></i></a>
                        <!-- <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-alt"></i></a> -->
                        
                      </td>
                    </form></tr>    
                </tbody>
            </table>
        </div>
    </div> 
{% endblock %}