<!DOCTYPE html>
<html>
<head>
   <title>Admin</title>   
  <link rel="stylesheet" type="text/css" href="/static/admin/bootstrap-4/css/bootstrap.min.css">
</head>
<body>
<img src="/static/admin/img/img-01.png" style="align-items: center; width: 90px; height: 80px; justify-content: center;"><label><strong>Oguz Han adynadky Inzenener we Tehnologiyalar Universiteti</strong></label>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Admin sahypa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Bash sahypa<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teacher_list">Mugallymlar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/student_list">Talyplar</a>
      </li>        
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div align="center" style="text-align: center; padding: 5px; font-size: 20px;">
<label><em><b>Hasaba duran mugallymlaryň sanawy</b></em></label>
</div>
<!-- dobavlennye uchitelya -->
<table class="table table-hover" style="padding-top: 10px;">
  <thead style="text-align: center; background-color: #e3f2fd; text-align: center; ">
    <tr>
      <th scope="col">t/b</th>
      <th scope="col">Mugallymyn ady</th>
      <th scope="col">Dersin ady</th>      
      <th scope="col">Ugry</th>
      <th colspan="2" style="text-align: center;">Amallar</th> 
    </tr>
  </thead>
  <tbody style="text-align: center;"> 
     
      <tr>
        <th scope="row">teacher id</th>
        <td>mugallym</td>
        <td>  Dersin ady  </td>        
        <td>     Ugry        </td>         
        <td>Üýtget</td>   
        <td>Pozmak</td>
      </tr>
    
  </tbody>
</table>
<script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>