<!DOCTYPE html>
<html>
<head>
  <title>Hasaba dur</title>
  <link rel="stylesheet" type="text/css" href="/static/login/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link href="/static/login/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <img class="wave" src="/static/login/img/wave.png">
  <div class="container">
    <div class="img">
      <img src="/static/login/img/update.svg">
    </div>    
    <div class="login-content">
      <form action="/register" method="POST">
        <img src="/static/login/img/img-01.png">
        <h2 class="title">Hasaba duruň</h2>
              <div class="input-div one">
                 <div class="i">
                    <i class="fas fa-user"></i>
                 </div>
                 <div class="div">
                <input type="text" class="input" placeholder="Talyp belgiňiz" name="userId" style="h5">
                 </div>
              </div>
              <div class="input-div one">
                 <div class="i">
                    <i class="fas fa-user"></i>
                 </div>
                 <div class="div">
                    
                   <input type="text" class="input" placeholder="Doly adyňyz" name="full_name" style="h5">
                 </div>
              </div>
              <div class="input-div one">
                 <div class="i">
                    <i class="fas fa-user"></i>
                 </div>
              <div class="div">
                    <label>Ulanyjy gornüşi</label>
                    <select name="user_type">
                    <option value="student">Talyp</option> 
                    </select>
                 </div>
              </div>
              <div class="input-div pass">
                 <div class="i"> 
                    <i class="fas fa-lock"></i>
                 </div>
                 <div class="div">
                    <h5></h5>
                    <input style="h5" type="password" class="input" placeholder="Gizlin açar" name="password">
                 </div>
              </div>
              <!-- <a href="#">Forgot Password?</a> -->
              <input type="submit" class="btn" value="Hasaba al">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/static/login/js/main.js"></script>
</body>
</html>
