{% extends "student/layout.html" %}
{% block main %}

<div class="container" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); margin-top: 10px; ">
  <a href="/student" class="btn btn-success"><-</a>
  <div class="form-group col-md-12" align="center">
    <h4>Goşulan faýllar:</h4>
  </div>
  <div class="form-group col-md-12" align="center">
    {% for attachment in lesson.attachments %}
      <label>{{ attachment.filename }}</label>
      <a href="/static/attachments/{{ attachment.attachment }}" class="btn btn-light">Ýükle</a>
    {% endfor %}
  </div>
</div>

{% endblock %}