{% extends "student/layout.html" %}
{% block main %}

<h4 style="margin: 15px 0;margin-top: 10px ; color: #333;  text-transform: uppercase; text-align: center;">
  Hoş geldiňiz!
</h4>
<div class="container" style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) ">
<form method="POST" action="/sort/subjects">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Mugallym">Mugallym:</label>
    <select name="teacher" class="form-control" id="Mugallym">
      {% for teacher in teachers %}
        <option>{{teacher.full_name}}</option>
      {% endfor %}
    </select>
    </div>    
    <div class="form-group col-md-6">
      <label for="Ders">Dersiň ady:</label>
    <select name="subject" class="form-control" id="ders">
      {% for subject in subjects %}
        <option>{{subject.subject_name}}</option>
      {% endfor %}
    </select>
    </div>
   
   <div class="form-group col-md-12" align="center">
   <button type="submit" class="btn btn-light">OK</button>   
   </div>   
  </div>      
</form>
</div>
<br>  
<br>
<div class="container-fluid">
  <table class="table table-hover" style="text-align: center;">
  <thead style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); justify-content:center;">
    <tr>
      <th scope="col">t/b</th>      
      <th scope="col"style="text-align: center;">Dersiň ady</th>
      <th scope="col"style="text-align: center;">Temanyň ady</th>
      <th scope="col" style="text-align:center;">Temanyň beýany</th>
      <th scope="col"style="text-align: center;">Mugallym</th>      
      <th scope="col"style="text-align: center;">Amallar</th>           
    </tr>
  </thead>
  <tbody style="text-align: center;">
    {% for lesson in lessons %}
      <tr>
        <th scope="row" >{{lesson.id}}</th>        
        <td>
          {% for subject in subjects %}
            {{ subject.subject_name if subject.id==lesson.subjectId }}
          {% endfor %}
        </td>
        <td>{{lesson.lesson_name}}</td>
        <td>{{ '' if lesson.lesson_description == None else lesson.lesson_description }}</td>
        <td> 
          {% for teacher in teachers %}
            {{teacher.full_name if teacher.id == lesson.teacherId}}
          {% endfor %}
        </td>
        <td>
          <a href="/static/attachments/{{lesson.attachment}}" class="btn btn-warning">Ýükle</a>
          <a href="/lessons/{{lesson.id}}/attachments" class="btn btn-primary">Faýllary gör</a>
        </td>       
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}